* {
    font-family: sans-serif;
    box-sizing: border-box;
}

.app {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

 header {
    flex: 0 80px;
    flex-direction: row;
    background-color: #6A8CA1;
}

.post-login {
    color: blanchedalmond;
    flex-direction: row;
}

header a {
    float: right;
}

footer {
    display: flex;
    flex-direction: row;
    background-color: #6A8CA1;
    flex-wrap: nowrap;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:#F5F5DC;
}

li {
    padding: 0 0.5em;
}

@media (max-height: 800px) {
    header {
        display: none;
    }
    footer {
        display: none;
    }
    main {
        flex: 1 100vh;
    }
}

.custom-bg {
    background-color: #6A8CA1;
    display: flex;
    flex-wrap: nowrap;
}

.login-prompt {
    display: flex;
    flex-direction: column;
}

.btn {
    flex-direction: column;
    align-self: center;
}

.navbar-nav {
    display: flex;
    flex-wrap: nowrap;
}

.text {
    color: navy;
}